.swiper-container {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 450px;
    height: 450px;
  }
.swiper-slide img {
    display: block;
    width: 100%;
  }