.swiper-container {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 450px;
    height: 450px;
  }
.swiper-slide img {
    display: flexbox;
    width: 100%;
  }
  
  table tbody tr td .img__logo{
    height: 50px;
  }

  table tbody tr td {
    word-break:break-all;
  }