<%- include('../template/header')-%>

<%- include('../template/navbar')-%>


    
<div class="jumbotron pb-0 mb-0" style="background-color: white!important;">
    <h1 class="display-4">Hola, Marco</h1>
    <p class="lead">Este es tu espacio en donde podras incorporar todo lo que quieres que tu Portafolio tenga cosas como.</p>
    <ul>
        <li>Nuevos Proyectos</li>
        <li>Nuevos Skills</li>
        <li>Nueva Informacion Personal</li>
        <li>Nuevos trabajos</li>
        <li>Nuevas Redes Sociales </li>
    </ul>
    <hr class="my-4">
  </div>

 <div class="container-fluid">
    <div class="swiper-container mySwiper">
        <div class="swiper-wrapper p-4">
          <div class="swiper-slide">
            <img src="https://lh3.googleusercontent.com/proxy/n3rmwCrIdLtnuegYL0X4lJochzBSkasCIDcT_qlf2jzyrQNmBKHHdMJSHhvK0OgDvR1fZzFrHcve" />
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" src="https://d2emjept89nv7b.cloudfront.net/podcast-covers/30/247435/1/1000/kafemlejnektv-57-nodejs-v-shoptet-premium.jpg" />
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" src="https://victorroblesweb.es/wp-content/uploads/2016/11/mongodb.png" />
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" src="https://nextsoftware.io/files/images/logos/main/reactjs-logo.png" />
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" src="http://demanuelemilio.github.io/assets/img/vuelogo.png" />
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" src="http://pngimg.com/uploads/github/github_PNG39.png" />
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" src="https://1000marcas.net/wp-content/uploads/2021/06/Git-Logo.png" />
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" src="https://www.cloudbuilders.es/wp-content/uploads/2018/11/Amazon-Web-Services-Cloud-empresa.png" />
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" src="https://miro.medium.com/max/542/0*q9AlbDTSZAINwtX3" />
          </div>
        </div>
      </div>
 </div>

<%- include('../template/footer')-%>